*,
*::before,
*::after{
    box-sizing: border-box;
}

body{

    text-align: center;
    background-color: #585c74;
    color: white;
    background: url(image/ball-7610545_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
    gap: 20px;
    width: 100%;
}

#input-one{
    padding: 30px;
    width: 200px;
    display: block;
    margin: 0 auto;
    color: #ff0000;
    background: #00000089;
    font-size: 60px;
    border-radius: 10px;
    font-family: "Tiny5", sans-serif;

}

#input-two{
    padding: 30px;
    width: 200px;
    display: block;
    margin: 0 auto;
    color: #ff0000;
    background: #00000089;
    font-size: 60px;
    border-radius: 10px;
    font-family: "Tiny5", sans-serif;

}

button{
    padding: 16px;
    border: none;
    border-radius: 9px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Tiny5", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    background-color: #040418;
    color: white;
}

.container-div-0ne, .container-div-two{
    background-color: #0c0e1879;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
}